@font-face {
	font-family: 'GravityBold'; 
	src: url('assets/fonts/GravityBold8.ttf'); 
}

@font-face {
	font-family: 'GravityNormal'; 
	src: url('assets/fonts/GravityRegular5.ttf'); 
}

body,
html {
	width: 100%;
	height: 100%;
	background-color: black;
	font-family: 'GravityNormal';
	color: #fff;
	overflow: hidden;
	margin: 0;
}
main{
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}
.screenRatio{
	padding: 0;
	margin: 0;
	width: 80%;
	height: 70%;
}
.insideScreenRatio{
	padding: 0;
	margin: 0;
	width: 70%;
	height: 60%;
}

.wrapper {
	position: relative;
	overflow: hidden;
}

.canvas{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background: #000;
	z-index: -10;
}
.controlBlock{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	background-color: #8641beb2;
	opacity: 0;
	top: 30%;
	left: 50%; 
	padding: 20px;
  	transform: translate(-50%, -50%);
	transition: 1s;
}
.controlButton{
	height: 45px;
	width: 45px;
	margin: 10px;
	image-rendering: pixelated;
}
.mobileControlButt{
	height:13vh;
	width: auto;
	image-rendering: pixelated;
	background-color: rgba(255, 255, 255, 0.237);
	border-radius: 20%;
	padding: 10px;
}
.leftButtonsBlock{
	display: none;
}
.rightButtonsBlock{
	display: none;
}
.overlay{
	z-index: 0;
	background: url('assets/bg/overlay2.png');
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: repeat;
	opacity: 0.1;
	transition: 1s ease;
}

.pause,
.gameOver,
.mainMenu, 
.credits, .tutorial, .achives{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 35px;
	background-color: #8641beb2;
}
.mainMenuButtons{
	height: 45%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.pauseButton {
	position: absolute;
	height: 40px;
	width: 40px;
	left: 20px;
	top: 20px;
}
.replayButton, .homeButton, .playOnPauseButton {
	height: 55px;
	width: 55px;
	margin: 20px;
}
.settingsBlock{
	position:absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 20px;
	right: 20px;
}
#fullscreenBtn{
	width: 40px;
	cursor: pointer;
	filter: brightness(0.9);
	transition: 0.2s;
}
#fullscreenBtn:hover{
	filter: brightness(0.7);
}
.soundBtn{
	cursor: pointer;

	background-image: url('assets/gui/soundOn.png');
	background-size: cover;
	width: 40px;
	height: 40px;
	margin-right: 30px;
	transition: 0.3s;
}
.soundBtn:hover{
	filter: brightness(0.7);
}
.soundBtnOff{
	background-image: url('assets/gui/soundOff.png');
	filter: brightness(0.8);

}
.playOnPauseButton{
	width: 50px;
}
.button:hover{
	filter: brightness(0.7);
}
.score{
	position: absolute;
	right: 20px;
	top: 20px;
	color: #fff;
	font-size: 15px;
}

.gameOverScore{
	position: unset;
	font-size: 25px;
}

.mainMenu, .credits, .achives{
	font-family: 'GravityBold';
	line-height: 2;
	display: flex;
	flex-direction: row;
	text-shadow: -10px 10px 0px #00e6e6,
                 -20px 20px 0px #01cccc,
                 -30px 30px 0px #00bdbd;
	filter: brightness(0.9);
	background: #000;
}

.HighScoreBlock{
	text-shadow: none;
}
.credits, .achives{
	flex-direction: column;
	font-size: 30px;
	text-shadow: unset;
	justify-content: space-between;
}
.credits-holder{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}
.achivesHolder{
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
}
.achiveBlock{
	font-family: 'GravityNormal';
	align-items: center;
	font-size: 12px;
	display: flex;
	padding: 10px;
	color: rgb(255, 255, 255);
	width: 30%;
	height:fit-content;
	background-color: rgb(47, 31, 46);
	margin-bottom: 20px;
}
.achiveText{
	text-align: center;
}
.achiveText p{
	margin: 0;
	font-size: 15px;
	text-decoration: underline 3px;
}
.achiveImg{
	height: 50px;
	margin-right: 20px;
}
.lock{
	filter: brightness(0.5);
}
.statsHolder{
	display: flex;
	font-size: 12px;
}
.return-btn-holder{
	width: 100%;
	height: fit-content;
	position: sticky;
	right: 10px;
    bottom: 10px;
}
.stat{
	margin-right: 20px;
}
.credits a{
	font-size: 25px;
}

.mainMenuSide{
	height: 100%;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
.mainGif{
	width: 70%;
	image-rendering: pixelated;
}
.credits{
	text-shadow: unset;
}
.hide {
	display: none;
}
.btn {
  width: 230px;
  height: 60px; 
  border: 0;
  outline: none;
  cursor: pointer;
  position: relative;
  font-size: 15px;
	font-family: 'GravityNormal';
  text-transform: uppercase;
	background-color:#46166d;
  clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
}
.btn__content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
	color: #fff;
  background-color: #7b00ac;
  clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
}


.btn__glitch {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:  #7b00ac;
  filter: drop-shadow(-2px 3px #67e3f3) drop-shadow(-1px -3px #02d8f3) drop-shadow(2px 1px #02d8f3);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.btn:hover .btn__glitch,
.btn:hover .btn__content::after,
.btn:focus .btn__glitch,
.btn:focus .btn__content::after {
  display: block;
  animation: glitch-animation 2s linear 0s infinite;
}



@keyframes glitch-animation {
  0% {
    opacity: 1;
    transform: translateZ(0);
    clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
  }

  2% {
    clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
    transform: translate(-5px);
  }

  6% {
    clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
    transform: translate(5px);
  }

  8% {
    clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
    transform: translate(-5px);
  }

  9% {
    clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
    transform: translate(0);
  }

  10% {
    clip-path: polygon(0 54%, 100% 54%, 100% 44%, 0 44%);
    transform: translate3d(5px, 0, 0);
  }

  13% {
    clip-path: polygon(0 54%, 100% 54%, 100% 44%, 0 44%);
    transform: translateZ(0);
  }

  13.1% {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    transform: translate3d(5px, 0, 0);
  }

  15% {
    clip-path: polygon(0 60%, 100% 60%, 100% 40%, 0 40%);
    transform: translate3d(5px, 0, 0);
  }

  20% {
    clip-path: polygon(0 60%, 100% 60%, 100% 40%, 0 40%);
    transform: translate3d(-5px, 0, 0);
  }

  20.1% {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    transform: translate3d(5px, 0, 0);
  }

  25% {
    clip-path: polygon(0 85%, 100% 85%, 100% 40%, 0 40%);
    transform: translate3d(5px, 0, 0);
  }

  30% {
    clip-path: polygon(0 85%, 100% 85%, 100% 40%, 0 40%);
    transform: translate3d(-5px, 0, 0);
  }

  30.1% {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }

  35% {
    clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
    transform: translate(-5px);
  }

  40% {
    clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
    transform: translate(5px);
  }

  45% {
    clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
    transform: translate(-5px);
  }

  50% {
    clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
    transform: translate(0);
  }

  55% {
    clip-path: polygon(0 10%, 100% 10%, 100% 0, 0 0);
    transform: translate3d(5px, 0, 0);
  }

  60% {
    clip-path: polygon(0 10%, 100% 10%, 100% 0, 0 0);
    transform: translateZ(0);
    opacity: 1;
  }

  60.1% {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    opacity: 1;
  }

  to {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    opacity: 1;
  }
}

@media screen and (orientation: portrait) {
	#turnLandscape{
		display: flex;
		align-items: center;
		justify-content: center;
		color:rgb(255, 255, 255);
		flex-direction: column;
		width: 100%;
		height: 100%;
		background-color: rgb(0, 0, 0);
	}
	#rotateIcon{
		height: 100px;
	}

	main {
	  display: none;
	}
}
  
@media screen and (orientation: landscape) {
	#turnLandscape{
		display: none;
	}
	main {
		display: flex;
	}
}
@media (max-width: 920px){
	.screenRatio{
		width: 100%;
		height: 100%;
		box-sizing: border-box;

	}
	.insideScreenRatio{
		overflow: scroll;
		width: 85%;
		height: 85%;
		box-sizing: border-box;
	}
	#mainTitle{
		font-size: 25px;
		text-shadow: -8px 8px 0px #00e6e6, -16px 16px 0px #01cccc, -24px 24px 0px #00bdbd;
	}
	.HighScoreBlock{
		font-size: 20px;
	}
	.gameOver{
		font-size: 20px;
	}
	.btn{
		width: 200px;
		height: 50px;

	}
	.btn__content{
		font-size: 13px;
	}
	.pauseButton {
		height: 30px;
		width: 30px
	}
	#fullscreenBtn{
		width: 30px;
	}
	.achiveImg{
		height: 43px;
		margin-right: 10px;
	}
	.achiveText p{
		font-size: 12px;
	}
	.achiveText{
		font-size: 9px;
	}
	.achivesHolder{
		justify-content: space-evenly;
	}
	.achiveBlock{
		justify-content: center;
		width: 43%;
	}
	.achives{
		padding: 10px;
		overflow: scroll;
	}
	.credits{
		font-size: 15px;
	}
	.credits a{
		font-size: 13px;
	}
	.leftButtonsBlock{
		display: block;
		position: absolute;
		left: 20px;
		bottom: 20px;
	}
	.rightButtonsBlock{
		display: block;
		position: absolute;
		right: 20px;
		bottom: 20px;
	}
	.controlBlock{
		display: none;
	}
}