@font-face {
	font-family: 'GravityBold'; 
	src: url('assets/fonts/GravityBold8.ttf'); 
}

@font-face {
	font-family: 'GravityNormal'; 
	src: url('assets/fonts/GravityRegular5.ttf'); 
}

body,
html {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #084b4b;
	font-family: 'GravityNormal';
	color: #fff;
}

.screenRatio{
	width: 70%;
	height: 70%;
}
.insideScreenRatio{
	width: 60%;
	height: 60%;
}

.wrapper {
	position: relative;
}

.canvas{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background: #000;
}
.pause,
.gameOver,
.mainMenu, 
.credits, .tutorial{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 35px;
	padding: 20px;
	background-color: #e46a86cc;
}
.credits{
	font-size: 30px;
	text-shadow: unset;
}
.credits a{
	font-size: 25px;
}
.menuButton{
	padding: 10px;
	color: #000;
	background-color: #fff;
	transition: 0.3s;
	cursor: pointer;
	font-size: 20px;
}
.mainMenuButtons{
	height: 25%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.pauseButton {
	position: absolute;
	height: 40px;
	width: 40px;
	left: 10px;
	top: 10px;
}
.replayButton, .homeButton, .playOnPauseButton {
	height: 40px;
	width: 40px;
	margin: 20px;
}
.playOnPauseButton{
	width: 30px;
}
.button:hover{
	filter: brightness(0.7);
}
.score{
	position: absolute;
	right: 10px;
	top: 10px;
	color: #fff;
	font-size: 15px;
}

.gameOverScore{
	position: unset;
	font-size: 30px;
}


.buttonHolder{
	display: flex;
}
.mainMenu, .credits{
	font-family: 'GravityBold';
	line-height: 2;
	background-color:#8641be;
	text-shadow: -10px 10px 0px #00e6e6,
                 -20px 20px 0px #01cccc,
                 -30px 30px 0px #00bdbd;
}
.credits{
	text-shadow: unset;
}
.hide {
	display: none;
}
.btn {
  width: 230px;
  height: 60px; 
  border: 0;
  outline: none;
  cursor: pointer;
  position: relative;
  font-size: 15px;
	font-family: 'GravityNormal';
  text-transform: uppercase;
	background-color: #920444;
  clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
}

.btn__content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  background-color:#ff91ab;
  clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
}

.btn__glitch {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ff91ab;
  filter: drop-shadow(-2px 3px #67e3f3) drop-shadow(-1px -3px #02d8f3) drop-shadow(2px 1px #02d8f3);
}

.btn:hover .btn__glitch,
.btn:hover .btn__content::after,
.btn:focus .btn__glitch,
.btn:focus .btn__content::after {
  display: block;
  animation: glitch-animation 2s linear 0s infinite;
}


@keyframes glitch-animation {
  0% {
    opacity: 1;
    transform: translateZ(0);
    clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
  }

  2% {
    clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
    transform: translate(-5px);
  }

  6% {
    clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
    transform: translate(5px);
  }

  8% {
    clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
    transform: translate(-5px);
  }

  9% {
    clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
    transform: translate(0);
  }

  10% {
    clip-path: polygon(0 54%, 100% 54%, 100% 44%, 0 44%);
    transform: translate3d(5px, 0, 0);
  }

  13% {
    clip-path: polygon(0 54%, 100% 54%, 100% 44%, 0 44%);
    transform: translateZ(0);
  }

  13.1% {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    transform: translate3d(5px, 0, 0);
  }

  15% {
    clip-path: polygon(0 60%, 100% 60%, 100% 40%, 0 40%);
    transform: translate3d(5px, 0, 0);
  }

  20% {
    clip-path: polygon(0 60%, 100% 60%, 100% 40%, 0 40%);
    transform: translate3d(-5px, 0, 0);
  }

  20.1% {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    transform: translate3d(5px, 0, 0);
  }

  25% {
    clip-path: polygon(0 85%, 100% 85%, 100% 40%, 0 40%);
    transform: translate3d(5px, 0, 0);
  }

  30% {
    clip-path: polygon(0 85%, 100% 85%, 100% 40%, 0 40%);
    transform: translate3d(-5px, 0, 0);
  }

  30.1% {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }

  35% {
    clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
    transform: translate(-5px);
  }

  40% {
    clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
    transform: translate(5px);
  }

  45% {
    clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
    transform: translate(-5px);
  }

  50% {
    clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
    transform: translate(0);
  }

  55% {
    clip-path: polygon(0 10%, 100% 10%, 100% 0, 0 0);
    transform: translate3d(5px, 0, 0);
  }

  60% {
    clip-path: polygon(0 10%, 100% 10%, 100% 0, 0 0);
    transform: translateZ(0);
    opacity: 1;
  }

  60.1% {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    opacity: 1;
  }

  to {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    opacity: 1;
  }
}

@media (max-width: 540px){
	.screenRatio{
		width: 90%;
		height: 30%;
	}
	.insideScreenRatio{
		width: 85%;
		height: 25%;
	}
	.pauseButton {
		height: i
	}
}